$color__primary: #00bcd4;
$color__secondary: #FF5722;
$color__black: #44474e;
$color__dark-grey: lighten($color__black, 10%);
$color__light-grey: #e3e3e3;
$color__white: #fff;

$color__bold: $color__primary;
$color__link: $color__secondary;
$color__button: $color__secondary;
$color__text: $color__dark-grey;
$color__border: $color__dark-grey;
$color__background-body: darken($color__white, 1%);
$color__nav-background: transparentize($color__primary, .05);

// extras colors
$hamburger__color: $color__white;
$scrollbar-line-color: $color__primary;
$scrollbar-background-color: $color__light-grey;

$size__branding-height: 104px;
$size__branding-logo-ratio: $size__branding-height *.3;
