// COLOR VARIABLES
$color__primary: #000000;
$color__secondary: #20221d;
$color__black: #000000;
$color__dark-grey: lighten($color__black, 10%);
$color__light-grey: #f3f3f3;
$color__white: #fff;

// THEME CUSTOM COLORS
$color__text: $color__dark-grey;
$color__text-light: lighten($color__text, 15%);
$color__nav-background: $color__white;
$color__background: darken($color__white, 1%);
$color__icons: $color__secondary;
$color__accent: $color__secondary;
$color__woo-accent: $color__accent;

// TEXT VARIABLES
$text__line-height: 1.75;
$text__line-height-headline: 1.3;
$text__size: 16px;
$font__family-headline: 'Comfortaa', sans-serif;
$font__family: 'Comfortaa', sans-serif;

// ANIMATIONS
$animations__lenght : .35s;

// MEASURES
$size__site-width: 9999px;
$size__side-padding: 0px;

// DISTANCES
$size__margin: 8px;
$size__padding: 64px;
$size__padding-resp: 20px;

// HEADER
$size__branding-height: 60px;
$size__nav-height: 120px;
$size__navresponsive-nav-line-height: 3;
$size__logo-height: 100%;
$size__responsive-menu-width: 360px;

// HEADER RESP
$head__responsive_brekpoint-width: 9999px;
$head__height-responsive: 60px;

// HAMBURGER MENU
$hamburger__size: 24px;
$hamburger__weight: 2px;
$hamburger__color: $color__primary;

// SIDEBAR
$sidebar__width: 300px;
$sidebar__margin: $size__padding;

// SCROLLBAR
$scrollbar-line-color: $color__primary;
$scrollbar-background-color: $color__light-grey;

// EXTRAS
$blockquote__icon-size: 60px;