/* MODUL R CHILD Style */

/* Utils */
@import "../../../../modul-r/assets/src/scss/utils/normalize";
@import "../../../../modul-r/assets/src/scss/utils/vars";
@import "../../../../modul-r/assets/src/scss/utils/media-queries";

/* Child theme customizations */
@import "utils/customizations";

/* Base style */
// @import "../../../../modul-r/assets/src/scss//base";
@import "../../../../modul-r/assets/src/scss/main/fonts";
@import "../../../../modul-r/assets/src/scss/main/typography";
@import "../../../../modul-r/assets/src/scss/main/helpers";
@import "../../../../modul-r/assets/src/scss/main/table";
@import "../../../../modul-r/assets/src/scss/main/inputs";
@import "../../../../modul-r/assets/src/scss/main/images";
@import "../../../../modul-r/assets/src/scss/main/buttons";

/* Components */
// @import "../../../../modul-r/assets/src/scss/components/header";
// @import "../../../../modul-r/assets/src/scss/components/navigation";
@import "../../../../modul-r/assets/src/scss/components/hamburger";
@import "../../../../modul-r/assets/src/scss/components/content";
@import "../../../../modul-r/assets/src/scss/components/extras";
@import "../../../../modul-r/assets/src/scss/components/blocks";
@import "../../../../modul-r/assets/src/scss/components/footer";
@import "../../../../modul-r/assets/src/scss/components/animations";
@import "../../../../modul-r/assets/src/scss/components/comments";
@import "../../../../modul-r/assets/src/scss/components/search-form";
@import "../../../../modul-r/assets/src/scss/components/cookie";

/* Pages */
// @import "../../../../modul-r/assets/src/scss/pages/homepage";
@import "../../../../modul-r/assets/src/scss/pages/page";
@import "../../../../modul-r/assets/src/scss/pages/single";
@import "../../../../modul-r/assets/src/scss/pages/archive";
@import "../../../../modul-r/assets/src/scss/pages/author";

/* Vendor Style */
@import "../../../../modul-r/assets/src/scss/vendor/fancybox";
@import "../../../../modul-r/assets/src/scss/vendor/slick";
@import "../../../../modul-r/assets/src/scss/vendor/masonry";

/* Icons & extras */
@import "../../../../modul-r/assets/src/scss/utils/icons";
@import "../../../../modul-r/assets/src/scss/main/typography-extras";
@import "../../../../modul-r/assets/src/scss/main/scrollbar";
@import "../../../../modul-r/assets/src/scss/utils/print";