// The header customizations
#masthead {
  width: calc(100% - #{$size__padding-resp * 4});
  
  @media #{$mq__responsive-size_brekpoint} {
    width: calc(100% - #{$size__padding-resp});
  }
  
  body.has-featured-image.top & { background-color: $color__nav-background;}
  
  .header-wrapper{
    display: block;
    position: relative;
    padding: 0;
    
    .site-branding.has-header-text.has-custom-logo {
      justify-content: center;
      
      .custom-logo {
        height: 60px;
      }
      
    }
  }
}


body .main-navigation {
  transform: translateX( calc(100% + (#{$size__padding-resp * 2})) );
  
  @media #{$mq__responsive-size_brekpoint} {
    transform: translateX( calc(100% + #{$size__padding-resp} ) );
  }
}

.scrolled #masthead {
  box-shadow: inherit;
}